<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="1073741824" executionTimeout="1000"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="sqlConnectioncustom" connectionString="Data Source=192.168.67.170;Initial Catalog=SGIDO_DEV;User ID=appuser_dnc;Password=us3r_app+;" providerName="System.Data.SqlClient"/>
    <add name="sqlConn" connectionString="Provider=sqloledb;Data Source=192.168.67.170; Initial Catalog=SGIDO_DEV;User Id = appuser_dnc; Password = us3r_app+;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>